## Print 함수

In [2]:
print("hello World")

hello World

In [17]:
print("Hello" + " " + "word")
'''
파이썬에서 +는 연결을 한다
1. 숫자형에서의 산술 덧셈
2. 문자열에서의 문자열 연결 
3. 리스트 튜플 시퀀스에서 시퀀스 합치기
'''

Hello word

'\n파이썬에서 +는 연결을 한다\n1. 숫자형에서의 산술 덧셈\n2. 문자열에서의 문자열 연결 \n3. 리스트 튜플 시퀀스에서 시퀀스 합치기\n'

In [6]:
print({'name':'Joon','age':38})

{'name': 'Joon', 'age': 38}

In [7]:
print([1,2,3])

[1, 2, 3]

In [8]:
print((1,2,3))

(1, 2, 3)

In [9]:
print(42)
print(3.14)
print(False)

42
3.14
False

In [10]:
print('home','user','document',sep='/')

home/user/document

## input 함수

In [11]:
print(input('What is uyour age?'))

17

In [12]:
print("My name is " + input("How are you? What is your name?"))

My name is sihwa

In [13]:
print(len(input("What is your name?")))

5

## Variable 변수

In [14]:
name = input("What is your name?")

In [15]:
print('Here is my name,' + name)

Here is my name,sihwa

In [16]:
name = 'sihwa'
print(name)

sihwa

In [18]:
x, y =1,2 
#콤마를 사용해서 어사인 할 수 도 있다

In [19]:
print(x)
print(y)

1
2

In [20]:
x=y=1
#오른쪽 부터 실행됨 y=1 / x=1 이렇게 리턴

In [21]:
print(x)
print(y)

1
1

## concateration 
여러 조각을 하나로 이어 붙이는 것
"A" + "B" = "AB"
문자열이면 문자열끼리, 리스트면 리스트끼리 “붙인다(concatenate)”는 의미야.

In [23]:
print(1+2)
#int+int =int

3

In [25]:
print(1+1.5)
#int+flot=flot

2.5

In [26]:
print("Hello"+"World")
#str+str=str

HelloWorld