## Conditional Expression(조건절)에 대해 알아보기

In [1]:
if 10> 20:
    print(True)
else:
    print(False)

False

In [3]:
if 10> 20:
    print(True)
elif 3> 6:
    print(False)
else:
    print("False2")

False2

In [4]:
if int(input("how tall are you in cm?"))>180:
    print("You are over 180")
else:
    print("You are less than 180")

You are less than 180

In [5]:
# Comparison Operator(비교 연산자)
# > Greater than
# >= Greater than or Equal to
# < Less than
# <= Less than or Equal to
# == Equal to
# != Not equal to

## Multiple If Conditional Expression(복합 조건절)에 대해 알아보기

In [11]:
my_money = 15

In [12]:
if my_money > 0:
    print(f"my_money,{my_money} is greater than 0")

    if my_money> 10:
        print(f"my_money,{my_money} is also greater than 10")
    if my_money > 20:
        print(f"my_money,{my_money} is also greater than 20")
    else:
        print(f"my_money,{my_money} is less than equal to 20")

my_money,15 is greater than 0
my_money,15 is also greater than 10
my_money,15 is less than equal to 20

## Logical Operator(논리 연산자)에 대해서 알아보기

In [13]:
#Logical Operators
#A and B : both Should True
#X or Y : One of them is True
#not E : the opposite value True <-->False

In [18]:
value = 10

if isinstance(value, int) and value > 5:
    print("Correct")
else:
    print("Not correct")

Correct

In [19]:
if not isinstance(value,float):
    print(f"{value}is not float")

10is not float

## Randomization(임의) 모듈에 대해서 알아보기

In [20]:
#ramdom module
import random

In [21]:
print(random.randint(1,100))

80

In [22]:
import sihwa_module

In [23]:
print(sihwa_module.MY_LOCATION)

KOREA

In [27]:
random_float = random.random()
print(random_float)

0.6572252727110176

In [ ]:
## how to generate 0-10??

In [29]:
print(int(random_float*10))

6

## [초미니 프로젝트] 동전 앞뒤 맞추기

In [30]:
import random

In [31]:
random_value = random.randint(0,10)
if random_value % 2 ==0:
    print("You get Head")
else:
    print("you get Tail")

you get Tail

In [62]:
#내가 만든 버전
random_value = random.randint(1,2)
if random_value ==1:
    print("You get Head")
else:
    print("you get Tail")

you get Tail

## List data structure(리스트 자료 구조)에 대해서 알아보기

In [63]:
#List(Data steucture)
#When to use?
# - Grouping
# Keep the order

countries = ["South Korea","USA","Japan","China"]
print(countries)

['South Korea', 'USA', 'Japan', 'China']

In [64]:
countries[2] = "Vietnam"
print(countries)

['South Korea', 'USA', 'Vietnam', 'China']

In [67]:
element = "c"
alphabets = ['b',element,'d']
alphabets

['b', 'c', 'd']

In [68]:
alphabets.append('e')
alphabets

['b', 'c', 'd', 'e']

In [69]:
alphabets += ["f","g"]
alphabets

['b', 'c', 'd', 'e', 'f', 'g']

In [70]:
alphabets.insert(0,"a")
alphabets

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [71]:
print(countries[0])
print(countries[-1])
print(countries[len(countries)-1])

South Korea
China
China

In [72]:
print(countries.pop())
countries

China

['South Korea', 'USA', 'Vietnam']

In [73]:
print(countries.pop(0))
countries

South Korea

['USA', 'Vietnam']

In [74]:
# please spend your time to look at Python data structure

## 리스트 사용시 많이 접하는 Errors 와 nested list(에러와 중첩 리스트)에 대해서 알아보기

In [76]:
alphabets = ['a','b','c']
print(len(alphabets))

3

In [79]:
#print(alphabets[3])
#---------------------------------------------------------------------------
#IndexError                                Traceback (most recent call last)
#Cell In[77], line 1
#----> 1 print(alphabets[3])

#IndexError: list index out of range

In [80]:
#Nested list
alphabets = [['a','b'],['c']]
print(alphabets)

[['a', 'b'], ['c']]

## 반복문 For loop에 대해 알아보기

In [86]:
#Loop

alphabets=['a','b','c','d']

for alphabet in alphabets:
    print(alphabet)
    print(f"{alphabet} is char")

a
a is char
b
b is char
c
c is char
d
d is char

In [85]:
for char in "South Korea":
    print(char)

S
o
u
t
h

K
o
r
e
a

In [87]:
numbers = [1,2,3,4]
sum = 0
for number in numbers:
    sum += number
print(sum/len(numbers))

2.5

In [88]:
#max value
numbers = [1,2,3,4]
max_num = 0
for number in numbers:
    if number > max_num:
        max_num = number
print(max_num)

4

In [89]:
print(max(numbers))
print(max(1,5))

4
5

In [90]:
sum = 0
for i in range(1,11):
    sum+=i
sum

55

In [92]:
sum = 0
for i in range(1,11):
    if not i % 2 == 0:
        print(i)

1
3
5
7
9

In [93]:
sum = 0
for i in range(1,11,2):
    sum+=i
sum

25

In [ ]:
# Given an integer n, return a string array answer (1-indexed) where:

# answer[i] == "FizzBuzz" if i is divisible by 3 and 5.
# answer[i] == "Fizz" if i is divisible by 3.
# answer[i] == "Buzz" if i is divisible by 5.
# answer[i] == i (as a string) if none of the above conditions are true.

In [99]:
n = int(input())

for i in range(1,n+1):
    if i % 3 ==0 and i % 5==0:
        print("FizzBuzz")
    elif i % 3 ==0:
        print("Fizz")
    elif i % 5 ==0:
        print("buzz")
    else:
        print(i)

1
2
Fizz
4
buzz
Fizz
7
8
Fizz
buzz
11
Fizz

In [100]:
n = 15
answer = []
for i in range(1, n+1):
  if i % 3 == 0 and i % 5 == 0:
    answer.append("FizzBuzz")
  elif i % 3 == 0:
    answer.append("Fizz")
  elif i % 5 == 0:
    answer.append("Buzz")
  else:
    answer.append(str(i))
print(answer)

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz']