## [Ïù∏ÌÑ∞Î∑∞ ÏòàÏ†ú] Î¨∏ÏûêÏó¥ Îí§ÏßëÍ∏∞

In [6]:
value = 'Hello World'

In [7]:
#reverse
value_list = list(value)
value_list.reverse()
print("".join(value_list))

dlroW olleH

In [8]:
print("".join(list(reversed(value))))

dlroW olleH

In [9]:
temp_list = []
for i in range(len(value)-1, -1, -1):
    temp_list.append(value[i])
print("".join(temp_list))

dlroW olleH

In [11]:
value = 'Hello World'
value_list = list(value)
temp_list=[]
while len(value_list)>0:
    temp_list.append(value_list.pop())
print("".join(temp_list))

dlroW olleH

## ÌååÎùºÎØ∏ÌÑ∞Î•º Î∞õÎäî Ìï®ÏàòÏóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Í∏∞

In [14]:
def travel():
    print("Hello ther")
    print("Are you exited?")

travel()

Hello ther
Are you exited?

In [ ]:
def travle_to_country(country: str):
    print(f"You are going to travel to {country}")
    print("Are you exited?")

travle_to_country('korea')
# country => parameter
# "korea" => argument

You are going to travel to korea
Are you exited?

In [22]:
def travel_to_country(country:str,name:str):
    print(f"Hello {name}!")
    print(f"you are going to travle to {country}")
    print("Are you exited?")
# positional argument
travel_to_country("korea", "sihwa")

Hello sihwa!
you are going to travle to korea
Are you exited?

In [23]:
# keyword argument
travel_to_country(country="korea", name="sihwa")

Hello sihwa!
you are going to travle to korea
Are you exited?

## Ìï®ÏàòÏùò Î¶¨ÌÑ¥ Í∞íÏóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Í∏∞

In [26]:

def get_name(first_name, last_name):
    if first_name == "":
        return "Your first name is missing ..."
    if last_name == "":
        return "Your last name is missing ..."
    return f"{first_name}, {last_name}"

return_value = get_name(
    first_name=input("Your first name?"),
    last_name=input("Your last name?"))

print(return_value)

Î∞±, ÏãúÍ¥Ä

In [25]:
score = 10

def update_score():
    internal_score = score
    internal_score = 20

    return internal_score  # 20ÏùÑ Î∞ñÏúºÎ°ú ÎçòÏßê

print(score)

10

In [24]:
score = 10

def update_score():
    score = 20
    return score  # 20ÏùÑ Î∞ñÏúºÎ°ú ÎçòÏßê

print(score)

10

In [27]:
# [1] ÎÇ¥ ÌÜµÏû• ÏûîÍ≥† (Ï†ÑÏó≠ Î≥ÄÏàò) -> ÏÑúÏö∏ ÏÇ¨Îäî ÏßÑÏßú Îèà
my_balance = 0

# [2] ÏûÖÍ∏à Ìï®Ïàò (Í∏∞Îä•)
def deposit(balance, amount):
    print(f"üí∞ {amount}ÏõêÏùÑ ÏûÖÍ∏àÌï©ÎãàÎã§.")
    return balance + amount  # Í≥ÑÏÇ∞Îêú ÏÉà ÏûîÍ≥†Î•º Î∞ñÏúºÎ°ú ÎçòÏßê!

# [3] Ï∂úÍ∏à Ìï®Ïàò (Í∏∞Îä•)
def withdraw(balance, amount):
    if balance < amount:
        print("Ïù¥Îü∞.. ÏûîÏï°Ïù¥ Î∂ÄÏ°±Ìï¥Ïöî!")
        return balance # ÎèàÏù¥ Ïïà Îπ†Ï†∏ÎÇòÍ∞îÏúºÎãà Í∑∏ÎåÄÎ°ú ÎçòÏßê
    
    print(f"üí∏ {amount}ÏõêÏùÑ Ï∂úÍ∏àÌï©ÎãàÎã§.")
    return balance - amount # Î∫Ä Í∞íÏùÑ ÎçòÏßê

# --- Ïã§Ìñâ (Main) ---

print(f"ÌòÑÏû¨ ÏûîÍ≥†: {my_balance}")

# 1. 10,000Ïõê ÏûÖÍ∏à
# Ìï®ÏàòÍ∞Ä ÎçòÏßÑ Í∞íÏùÑ Î∞õÏïÑÏÑú my_balanceÎ•º Í∞±Ïã†! (ÎçÆÏñ¥Ïì∞Í∏∞)
my_balance = deposit(my_balance, 10000) 
print(f"Í∞±Ïã†Îêú ÏûîÍ≥†: {my_balance}")

# 2. 3,000Ïõê Ï∂úÍ∏à
my_balance = withdraw(my_balance, 3000)
print(f"Í∞±Ïã†Îêú ÏûîÍ≥†: {my_balance}")

# 3. 20,000Ïõê Ï∂úÍ∏à ÏãúÎèÑ (ÏûîÏï° Î∂ÄÏ°±)
my_balance = withdraw(my_balance, 20000)
print(f"ÏµúÏ¢Ö ÏûîÍ≥†: {my_balance}")

ÌòÑÏû¨ ÏûîÍ≥†: 0
üí∞ 10000ÏõêÏùÑ ÏûÖÍ∏àÌï©ÎãàÎã§.
Í∞±Ïã†Îêú ÏûîÍ≥†: 10000
üí∏ 3000ÏõêÏùÑ Ï∂úÍ∏àÌï©ÎãàÎã§.
Í∞±Ïã†Îêú ÏûîÍ≥†: 7000
Ïù¥Îü∞.. ÏûîÏï°Ïù¥ Î∂ÄÏ°±Ìï¥Ïöî!
ÏµúÏ¢Ö ÏûîÍ≥†: 7000

## [Ï¥àÎØ∏Îãà ÌîÑÎ°úÏ†ùÌä∏] ÎçîÏπò ÌéòÏù¥ Ìï®Ïàò ÎßåÎì§Í∏∞

In [32]:

name_of_ppl = 3
food_price = [10,20,15,17,50]

In [34]:
def going_dutch(name_of_ppl,food_price):
    k=0
    for i in food_price:
        k= k + i
    fianl_price = k / name_of_ppl
    return fianl_price

answer = going_dutch(name_of_ppl,food_price)
print(answer)

37.333333333333336

## [Ïù∏ÌÑ∞Î∑∞ ÏòàÏ†ú] ÏÜåÏàò(Prime number) Ï∞æÍ∏∞

In [35]:
# Prime number
# https://en.wikipedia.org/wiki/Prime_number
# A prime number (or a prime) is a natural number greater than 1 that is not a product of two smaller natural numbers

In [71]:
def find_prime_nuber(is_this_prime_number):
    value = True

    for i in range(2,is_this_prime_number):
        if is_this_prime_number%i ==0:
            value = False
            break
    if value:
        print(f"{is_this_prime_number}Îäî ÏÜåÏàòÏûÖÎãàÎã§")
    else:
        print(f"{is_this_prime_number}Îäî ÏÜåÏàòÍ∞Ä ÏïÑÎãôÎãàÎã§")

In [72]:
find_prime_nuber(10)

10Îäî ÏÜåÏàòÍ∞Ä ÏïÑÎãôÎãàÎã§

In [73]:
is_this_prime_number = 4

def is_prime_number(num: int):
    if num > 1:
        is_divisible = False
        for n in range(2, num):
            if num % n == 0:
                print(f"{num} can be cleanly divided by {n}")
                is_divisible = True
                break
        if is_divisible:
             print("Snap! it is not the prime number")
        else:
            print(f"Congrat! {num} is a prime number")
    else:
        print(f"{num} is not the prime number")

is_prime_number(num=is_this_prime_number)

4 can be cleanly divided by 2
Snap! it is not the prime number

## Dictionary data structure(ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÍµ¨Ï°∞)Ïóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Í∏∞

In [74]:
# dictionaries
# key value

In [76]:
dic = {
    "country" : "South korea",
    "city" : "seoul",
    "gender" : "male",
    "age" : 30
}

print(dic["country"])

South korea

In [77]:
for key, value in dic.items():
    print(f"{key}:{value}")

country:South korea
city:seoul
gender:male
age:30

In [78]:
for key in dic:
        print(f"{key}:{dic[key]}")

country:South korea
city:seoul
gender:male
age:30

In [79]:
print(dic.keys())

dict_keys(['country', 'city', 'gender', 'age'])

In [81]:
print(dic.values())

dict_values(['South korea', 'seoul', 'male', 30])

In [83]:
#key error
print(dic["name"])

KeyError: 'name'

In [84]:
print("name" in dic)

False

In [85]:
dic1 = {
    1:1,
    2:2
}
print(dic1[2])

2

In [90]:
# Grading program
# grading A if >= 90, B if >= 80, C if >= 70 otherwise F
students = {
    "tom": 82,
    "jerry": 93,
    "joon": 99,
    "misha": 80,
    "amy": 74
}

for key,value in students.items():
    if value >= 90:
        print(f"{key} Îäî AÎì±Í∏âÏûÖÎãàÎã§")
    elif value>=80 and value < 90:
        print(f"{key} Îäî BÎì±Í∏âÏûÖÎãàÎã§")
    elif value>=70 and value < 80:
        print(f"{key} Îäî CÎì±Í∏âÏûÖÎãàÎã§")
    else:
        print(f"{key} Îäî FÎì±Í∏âÏûÖÎãàÎã§")

tom Îäî BÎì±Í∏âÏûÖÎãàÎã§
jerry Îäî AÎì±Í∏âÏûÖÎãàÎã§
joon Îäî AÎì±Í∏âÏûÖÎãàÎã§
misha Îäî BÎì±Í∏âÏûÖÎãàÎã§
amy Îäî CÎì±Í∏âÏûÖÎãàÎã§

In [91]:
# Grading program
# grading A if >= 90, B if >= 80, C if >= 70 otherwise F
students = {
    "tom": 82,
    "jerry": 93,
    "joon": 99,
    "misha": 80,
    "amy": 74
}

def get_grade(score: int):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'F'
for name, score in students.items():
    print(f"{name}'s score is {score}")
    print(f"then, {get_grade(score=score)}")

tom's score is 82
then, B
jerry's score is 93
then, A
joon's score is 99
then, A
misha's score is 80
then, B
amy's score is 74
then, C

## Nested data structure(Î≥µÌï© Îç∞Ïù¥ÌÉÄ Íµ¨Ï°∞)Ïóê ÎåÄÌï¥ÏÑú ÏïåÏïÑÎ≥¥Í∏∞

In [92]:
# Nesting
# dictionaries {"key": "value"}
# list ["a", "b", "c"]

In [93]:
usa = {
    "name" : "USA",
    "continent" : "North America"
}

south_korea = {
    "name": "South korea",
    "continent" : "East Asia" 
}

countries = [
    usa,
    south_korea
]

In [94]:
countries

[{'name': 'USA', 'continent': 'North America'},
 {'name': 'South korea', 'continent': 'East Asia'}]

In [98]:
for country in countries:
    print(country)
    print(country['name'])

{'name': 'USA', 'continent': 'North America'}
USA
{'name': 'South korea', 'continent': 'East Asia'}
South korea

In [101]:
california = ["los angeles", "san francisco"]
us_state = [california,"washington","oregon"]

print(us_state)

[['los angeles', 'san francisco'], 'washington', 'oregon']

In [103]:
countries = [
    us_state,
    south_korea
]
countries

[[['los angeles', 'san francisco'], 'washington', 'oregon'],
 {'name': 'South korea', 'continent': 'East Asia'}]

## Assignment vs. Shallow Copy vs. Deep Copy

In [104]:
# # Assignement Operator(=)
# # Assignment with an = on lists does not make a copy. Instead, assignment makes the two variables point to the one list in memory.

In [105]:
colors = ['red ', 'blue','green']
b= colors
b.append("white")
print(b)
print(colors)

['red ', 'blue', 'green', 'white']
['red ', 'blue', 'green', 'white']

In [106]:
# # Shallow Copy
# # A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.

In [107]:
a = [[1,2],[2,4]]
b = a[:]
b.append([3,6])
print(b)
print(a)

[[1, 2], [2, 4], [3, 6]]
[[1, 2], [2, 4]]

In [108]:
b[0].append(3)
print(b)
print(a)

[[1, 2, 3], [2, 4], [3, 6]]
[[1, 2, 3], [2, 4]]

In [109]:
# # Deep Copy
# # A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

In [ ]:
a=[[1,2],[2,4]]
import copy
b=copy.deepcopy(a)
b[0].append(4)
print(b)
print(a)

[[1, 2, 4], [2, 4]]
[[1, 2], [2, 4]]

In [111]:
# # simple list

In [112]:
a = [1,2,3,4]
b = a[:]
b.append(5)
print(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]